rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /charts/{document=**} {
      allow read: if request.auth.uid != null;
      allow write: if false;
    }
    match /form-specs/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /charts/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
