rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwned(document){
      return request.auth.uid != null && request.auth.uid == document;
    }

    match /users/{userId} {
      allow read: if isOwned(userId);
      allow write: if isOwned(userId);

      match /notifications/{document=**} {
        allow read: if request.auth.uid == userId && resource != null;
        allow write: if request.auth.uid == userId;
      }

      match /charts/{document=**} {
        allow read: if isOwned(userId);
        allow write: if false;
      }

      match /mediaLinks/{document=**} {
        allow read: if isOwned(userId);
        allow write: if false;
      }
    }

    match /form-specs/{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
